<main role="main" class="inner cover">
	<h1 class="cover-heading">Sobre mim</h1>
        <p class="lead">Nasci e moro em Curitiba, PR. Estudante de  Bacharelado em Sistemas de Informação na Universidade Tecnológica Federal do Paraná. </p>
        <p class="lead">Atualmente trabalho como Analista de Sistemas na empresa Plansul - Planejamento e  Consultoria, desenvolvendo ferramentas em PHP para gestão de processos do Call Center voltado para registro de reclamações e denúncias de operadoras de telecomunicações da Anatel. </p>
        <p class="lead">Apaixonado por música, mesmo sem tocar nenhum instrumento. No meu tempo livre gosto jogar videogames, participar de RPGs e board games.</p>
        <p class="lead">
    		<a href="https://github.com/JonatasLuz" class="btn btn-lg btn-secondary">Github</a>
 		</p>
</main>