
<h1 class="cover-heading">Contato</h1>
<p class="lead">
    <a href="https://www.facebook.com/jonatas.luz" class="btn btn-lg btn-secondary">Facebook</a>
 </p>
<p><a href="mailto:jonatas.luz.91@gmail.com?subject=Contato de Portfolio " "email">Email</a></p>
<p>Meu perfil no linkedin: </p>
