
<h1 class="cover-heading">Contato</h1>
<p class="lead">Olá. Você pode entrar em contato comigo através do meu facebook, ou me mandar um email</p>
<p class="lead">
    <a href="https://www.facebook.com/jonatas.luz" class="btn btn-lg btn-secondary">Facebook</a>
 </p>
<p><a href="mailto:jonatas.luz.91@gmail.com?subject=Contato de Portfolio " "email" class="btn btn-lg btn-secondary">Email</a></p>

