      <main role="main" class="inner cover">
        <h1 class="cover-heading">Bem Vindo</h1>
        <p class="lead">Portfolio criado para fim educacional, voltado no estudo do Framework open source Ruby on Rails. Caso tenha interesse em verificar como a aplicação está sendo desenvolvida, sinta-se à vontade para visitar minha página no Github</p>
         <p class="lead">Projeto em desenvolvimento</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>
      
